    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      padding: 20px;
      background-color: #3cb371	;
      color: #ecf0f1;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #linkInputContainer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      display: flex;
      align-items: center;
      background-color: #006400	;
    }

    #linkInput {
      width: 50%;
      padding: 8px;
      font-size: 14px;
      border: none;
      border-radius: 3px;
    }

    #embedButton {
      width: 50%;
      padding: 12px;
      font-size: 16px;
      background: linear-gradient(to right, #bdc3c7, #95a5a6);
      color: #006400;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.3s, box-shadow 0.3s;
      border: 2px solid #7f8c8d;
      position: relative;
      overflow: hidden;
    }

    #embedButton:before {
      content: '';
      position: absolute;
      width: 120%;
      height: 100%;
      background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.3), transparent);
      top: 0;
      left: -10%;
      transform: skewX(-30deg);
      animation: shine 1s infinite;
    }

    #embedButton:hover {
      background: linear-gradient(to right, #95a5a6, #bdc3c7);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    @keyframes shine {
      to {
        left: 110%;
      }
    }

    #iframesContainer {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
      margin-top: 20px;
      max-height: 70vh;
      overflow-y: auto;
    }

    .iframeWrapper {
      position: relative;
      height: 200px;
      margin-bottom: 20px;
    }

    .resultIframe {
      width: 100%;
      height: 100%;
      border: 1px solid #006400;
      border-radius: 10px;
    }

    .toggleButtonInFrame {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 12px;
      cursor: pointer;
      transition: background-color 0.3s, box-shadow 0.3s;
    }

    .toggleButtonInFrame.circle {
      background: linear-gradient(to right, #bdc3c7, #95a5a6);
      color: #006400;
      padding: 5px;
      border: none;
      border-radius: 0 0 10px 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 5px rgba(255, 255, 255, 0.6) inset;
      transition: background 0.3s;
      border: 1px solid #7f8c8d;
    }

    .toggleButtonInFrame.cross {
      background: linear-gradient(to right, #e74c3c, #c0392b);
      color: white;
      padding: 5px;
      border: none;
      border-radius: 0 0 10px 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 5px rgba(255, 255, 255, 0.6) inset;
      transition: background 0.3s;
      border: 1px solid #7f8c8d;
    }

    .toggleButtonInFrame:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 0 10px rgba(255, 255, 255, 0.8) inset;
    }

    #linksContainer {
      position: fixed;
      top: 0;
      right: 0;
      padding: 10px;
      overflow-y: auto;
      max-height: 80vh;
      background-color: #34495e;
      color: #ecf0f1;
      display: none;
      z-index: 1001;
    }

    #linkListTitle {
      font-size: 16px;
      margin-bottom: 10px;
    }

    #linksList {
      overflow-y: auto;
      max-height: 60vh;
    }

    .linkItem {
      margin-bottom: 5px;
      word-break: break-all;
    }

    #downloadLink {
      color: #fff;
      text-decoration: none;
      margin-top: 10px;
      padding: 10px;
      background: linear-gradient(to right, #bdc3c7, #95a5a6);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      transition: background 0.3s;
      display: none;
    }

    #downloadLink:hover {
      background: linear-gradient(to right, #95a5a6, #bdc3c7);
    }
